
#viewMembers {
    display: none;
    /*border: 2px solid #ccc;
    border-radius: 5%;*/
    text-align: center;
}

#viewWallPosts {
    /*display: none;*/
    border: 2px solid #ccc;
    border-radius: 5%;
    text-align: center;
}

#viewGroupEvents {
    display: none;
    /*border: 2px solid #ccc;
    border-radius: 5%;*/
    text-align: left;
}

#profilePicture {
    width: 250px;
    height: 250px;
    border: 1px solid #ccc;
    margin: 10px;
    border-radius: 5%;
}

#commentSection {
    text-align: left;
    display: inline;
}

#messageBoxSection {
    max-width: 500px;
    text-align: right;
    margin: auto;
    margin-bottom: 10px;
}

#messageBox {
    max-width: inherit;
    margin-bottom: 5px;
}

.profile {
    text-align: center;
}

.profile-preview {
    width: 150px;
    height: 150px;
    border: 1px solid #ccc;
    display: inline-block;
    margin: 10px;
    border-radius: 5%;
    cursor: pointer;
}

    .profile-preview:hover {
        background-color: #ccc;
    }

.profile-thumbnail {
    display: table;
    border-radius: 5%;
}

.profile-thumbnail-small {
    width: 35px;
    height: 35px;
    margin: 0 auto 0 auto;
}

.profile-thumbnail-large {
    border: 1px solid #ccc;
    margin: 10px auto 5px auto;
    width: 100px;
    height: 100px;
}

.post-original {
}

.post-reply {
    margin-left: 50px;
}

.post {
    border: 3px solid red;
    display: flex;
    flex-wrap: wrap;
}

.poster-area {
    width: 25%;
    border: 1px solid blue;
    text-align: center;
    padding: 10px;
}

.post-body-area {
    width: 75%;
    border: 1px solid green;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 10px;
}

.post-body {
    border: 1px solid purple;
}

.post-elapsed-time {
    font-weight: bold;
    border: 1px solid yellow;
}

.fetch-replies{
    font-weight: bold;
    width: 100%;
    text-align:center;
}

.transparent-button{
    border:none;
    background-color:white;
}

.reply-section{
    display:none;
}
