@model IEnumerable<BookClubs.Models.ViewModels.GroupListItemViewModel>

@{
    ViewBag.Title = "Groups";
}

<h2>Groups</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>

@Html.Partial("_GroupsListPartial", Model)

