@model BookClubs.Models.ViewModels.EditProfileViewModel

@{
    ViewBag.Title = "Edit Profile";
}

@Html.Partial("_CreateProfilePartial", Model)

<div>
    @Html.ActionLink("Back to List", "Index")
</div>
