@{
    ViewBag.Title = "Home";
}

<div class="jumbotron">
    <h1>BookClubs</h1>
    <p class="lead">BookClubs is an application to schedule meet friends and schedule book events.</p>
    @Html.ActionLink(HttpUtility.HtmlDecode("Register &raquo;"), "Register", "Account", 
                     null, new { @class = "btn btn-primary btn-lg" })

</div>

<a href="~/Views/Home/Index.cshtml">~/Views/Home/Index.cshtml</a>